<!DOCTYPE html>

<html lang="en">

    <head>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Hair Chance</title>

        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/contato.css">

        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

        <!-- GOOGLE FONTS-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    </head>
    
    <body>

        <!-- NAVEGADOR -->
        <!-- NAVEGADOR -->
        <nav>
            
            <div class="container nav_container">
                
                <a href="Index.html"><h4>HAIR CHANCE</h4></a>
                
                <ul id="nav_menu" class="nav_menu">
                    
                    <li><a href="./View/instrucoes.txt">Serviços</a></li>
                    
                    <li><a href="./View/Contato.html">Contato</a></li>

                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href="../View/Login.html">Perfil</a>
                        <a href="../View/instrucoes.txt">Agenda</a>
                    </div>

                    <li><i id="user" class="uil uil-user" style="font-size:30px;cursor:pointer" onclick="openNav()"></i></li>
                
                </ul>
            
                <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
            
                <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
        
            </div> 
    
        </nav>

        <section class="contato">
            
            <div class="container contato_container">
            
                <aside class="contato_aside">
              
                    <div class="aside_image">
              
                        <img src="../assets/img/logo.png">
             
                    </div>
               
                    <h2>Fale conosco</h2>
                 
                    <p>
                        Envie um email para gente
                    </p>
                    
                    <ul class="contato_detalhes">
                    
                        <li>
                           
                            <i class="uil uil-phone-times"></i>
                    
                            <h5>1140028922</h5>
                    
                        </li>
                     
                        <li>
                       
                            <i class="uil uil-envelope"></i>
                        
                            <h5>hairchance@gmail.com</h5>
                       
                        </li>
                       
                        <li>
                        
                            <i class="uil uil-location-point"></i>
                       
                            <h5>Brasil, São paulo</h5>
                      
                        </li>
                   
                    </ul>
                    
                    <ul class="contato_social">
                    
                        <li><a href="https://www.facebook.com/"><i class="uil uil-facebook-f"></i></a></li>
                    
                        <li><a href="https://www.instagram.com/"><i class="uil uil-instagram"></i></a></li>
                    
                        <li><a href="https://twitter.com/"><i class="uil uil-twitter"></i></a></li>
                    
                        <li><a href="https://linkedin.com/"><i class="uil uil-linkedin-alt"></i></a></li>
                    
                    </ul>
                
                </aside>

                <form action="https://formspree.io/f/mpzbrlyq" method="POST" class="contato_form">
                
                    <div class="form_name">
                    
                        <input type="text" name="Primeiro Nome" placeholder="Primeiro Nome" required>
                    
                        <input type="text" name="Sobrenome" placeholder="Sobrenome" required>
                    
                    </div>
                    
                    <input type="email" name="Email" placeholder="Digite seu Email" required>
                    
                    <textarea name="Mensagem" rows="7" placeholder="Escreva sua Mensagem" required></textarea>
                    
                    <button type="submit" class="btn btn-primary">Enviar mensagem</button>
                
                </form>


            </div>
        
        </section>
        
        <!-- Cabeçalho -->
        <footer>
            
            <div class="container footer_container">
                
                <div class="footer_1">
                    
                    <a href="../Index.html" class="footer_logo"><h4>Hair Chance</h4></a>
                   
                    <p>Aqui a beleza anda ao seu lado</p>
               
                </div>

                <div class="footer_2">
                
                    <h4>Links</h4>
                 
                    <ul class="inks">
                  
                        <li><a href="../Index.html">Home</a></li>
                 
                        <li><a href="../View/instrucoes.txt">No Reply</a></li>
                 
                        <li><a href="../View/instrucoes.txt">No Reply</a></li>
                 
                        <li><a href="Contato.html">Contact</a></li>
                 
                    </ul>
                
                </div>

                <div class="footer_3">
                  
                    <h4>Politica</h4>
                  
                    <ul class="politica">
                  
                        <li><a href="">Politica de privacidade</a></li>
                  
                        <li><a href="">Termos</a></li>
                  
                    </ul>
                
                </div>

                <div class="footer_4">
                    
                    <h4>Redes sociais</h4>
                   
                    <div>
                   
                        <p>hairchance@gmail.com</p>
                   
                    </div>

                    <ul class="footer_sociais">
                    
                        <li><a href="https://www.facebook.com/"><i class="uil uil-facebook-f"></i></a></li>
                        
                        <li><a href="https://www.instagram.com/"><i class="uil uil-instagram"></i></a></li>
                        
                        <li><a href="https://twitter.com/"><i class="uil uil-twitter"></i></a></li>
                        
                        <li><a href="https://linkedin.com/"><i class="uil uil-linkedin-alt"></i></a></li>
                    
                    </ul>
                
                </div>
           
            </div>

            <div class="footer_copyright">
            
                <small>Copyright &copy; Hair Chance 2022</small>
           
            </div>

        </footer>

        <script src="../assets/js/main.js"></script>
    
    </body>

</html>