<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair Chance</title>

    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/pagamento.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

    <!-- NAVEGADOR -->
    <!--
    <nav>
            
        <div class="container nav_container">
            
            <a href="Index.html"><h4>HAIR CHANCE</h4></a>
            
            <ul id="nav_menu" class="nav_menu">
                
                <li><a href="./View/instrucoes.txt">Serviços</a></li>
                
                <li><a href="./View/Contato.html">Contato</a></li>

                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="./View/instrucoes.txt">Perfil</a>
                    <a href="./View/instrucoes.txt">Agenda</a>
                </div>

                <li><i id="user" class="uil uil-user" style="font-size:30px;cursor:pointer" onclick="openNav()"></i></li>
            
            </ul>
        
            <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
        
            <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
    
        </div> 

    </nav>
    -->

    <div class="container-pg">

        <form action="" method="post">
    
            <div class="row">
    
                <div class="col">
    
                    <h3 class="title">Endereço</h3>
    
                    <div class="inputBox">
                        <span>Nome completo :</span>
                        <input type="text" placeholder="nome">
                    </div>
                    <div class="inputBox">
                        <span>Email :</span>
                        <input type="email" placeholder="example@example.com">
                    </div>
                    <div class="inputBox">
                        <span>Telefone :</span>
                        <input type="text" placeholder="(xx) xxxxx-xxxx">
                    </div>
                    <div class="inputBox">
                        <span>Endereço :</span>
                        <input type="text" placeholder="rua janeiro">
                    </div>
    
                    <div class="flex">
                        <div class="inputBox">
                            <span>Estado :</span>
                            <input type="text" placeholder="Sp">
                        </div>
                        <div class="inputBox">
                            <span>Numero :</span>
                            <input type="text" placeholder="123 456">
                        </div>
                    </div>
    
                </div>
    
                <div class="col">
    
                    <h3 class="title">Pagamento</h3>
    
                    <div class="inputBox">
                        <span>Cartões aceitos :</span>
                        <img src="../assets/img/card_img.png" alt="">
                    </div>
                    <div class="inputBox">
                        <span>Nome do cartão :</span>
                        <input type="text" placeholder="nome do titular">
                    </div>
                    <div class="inputBox">
                        <span>Numero do cartão :</span>
                        <input type="text" placeholder="1111-2222-3333-4444">
                    </div>
                    
    
                    <div class="flex">
                        <div class="inputBox">
                            <span>Mes de validade :</span>
                            <input type="number" placeholder="">
                        </div>
                        <div class="inputBox">
                            <span>Ano de validade :</span>
                            <input type="number" placeholder="">
                        </div>
                        
                    </div>

                    <div class="flex">
                        <div class="inputBox">
                            <span>CVV :</span>
                            <input type="text" placeholder="123">
                        </div>
                    </div>
    
                </div>
        
            </div>
    
            <input type="submit" value="Pagar" class="submit-btn">
    
        </form>
    
    </div>    
    






    <script src="../assets/js/main.js"></script>
</body>
</html>